@model IEnumerable<OdeToFood.Models.RestaurantListViewModel>
@{
    ViewBag.Title = "Home Page";
}

@*@Ajax.BeginForm(new AjaxOptions { HttpMethod="Get",
                                  InsertionMode= InsertionMode.Replace,
                                  UpdateTargetId="restaurantList"})*@
<form method="get" action="/home/Index/"
      data-otf-target="#restaurantList"
      data-otf-ajax="true">
    <input type="text" name="searchTerm" />
    <input type="submit" value="Search By Name" />
</form>


@Html.Partial("_Restaurants", Model);